<div>
    <h2>Add a new tour</h2>

    <form [formGroup]="tourForm" (ngSubmit)="onSubmit()">
        <label for="name">Tour Name:</label>
        <br>
        <input type="text" id="name" formControlName="name">
        <br>
        <label for="location">Location:</label>
        <br>
        <input type="text" id="location" formControlName="location">
        <br>
        <label for="continent">Continent:</label>
        <br>
        <select id="continent" formControlName="continent">
            <option value="">Select Continent</option>
            <option *ngFor="let continent of continents" [value]="continent">{{ continent }}</option>
        </select>
        <br>
        <label for="start_date">Start Date:</label>
        <br>
        <input type="date" id="start_date" formControlName="start_date">
        <br>
        <label for="end_date">End Date:</label>
        <br>
        <input type="date" id="end_date" formControlName="end_date">
        <br>
        <label for="people">Number of People:</label>
        <br>
        <input type="number" id="people" formControlName="people">
        <br>
        <label for="price">Price:</label>
        <br>
        <input type="number" id="price" formControlName="price"> €
        <br>
        <label for="photo">Select Photo:</label>
        <br>
        <input type="file" id="photo" (change)="onFileSelected($event)" formControlName="photo">
        <br>
        <br>
        <button type="submit" [disabled]="tourForm.invalid">Submit</button>
        <br>
        <div *ngIf="showMessage" [ngClass]="{'success-message': isSuccess, 'error-message': isError}">
            {{ message }}
        </div>
    </form>
</div>