<div *ngFor="let tour of tours" class="tour-box">
  <div class="tour-info">
    <span class="tour-photo">
      <img [src]="getPhotoUrl(tour.photo)" alt="Tour Photo" [style.max-width.px]="390" [style.max-height.px]="186">
    </span>
    <br>
    <p>Name: {{ tour.name }}</p>
    <p>Location: {{ tour.location }}</p>
    <p>Continent: {{ tour.continent }}</p>
    <p>Start Date: {{ tour.start_date }}</p>
    <p>End Date: {{ tour.end_date }}</p>
    <p>People: {{ tour.people }}</p>
    <p>Price: {{ tour.price }} €</p>

    <button (click)="navigateToDetail(tour.id)" *ngIf="!isAdmin">Pay</button>
    <button (click)="deleteTour(tour.id)" class="delete" *ngIf="isAdmin">Delete Tour</button>
    <button (click)="editTour(tour)" class="update" *ngIf="isAdmin">Update Tour</button>
    <br>
  </div>

  <form *ngIf="editedTour && editedTour.id === tour.id" (submit)="saveTour()" class="edit-form">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <label>Name:</label>
    <input [(ngModel)]="editedTour.name" name="name" required>
    <label>Location:</label>
    <input [(ngModel)]="editedTour.location" name="location" required>
    <label>Continent:</label>
    <input [(ngModel)]="editedTour.continent" name="continent" required>
    <label>Start Date:</label>
    <input [(ngModel)]="editedTour.start_date" name="start_date" required>
    <label>End Date:</label>
    <input [(ngModel)]="editedTour.end_date" name="end_date" required>
    <label>People:</label>
    <input [(ngModel)]="editedTour.people" name="people" type="number" required>
    <label>Price:</label>
    <input [(ngModel)]="editedTour.price" name="price" type="number" required>
    <label>Photo:</label>
    <input [(ngModel)]="editedTour.photo" name="photo" type="file" id="photo" (change)="onFileSelected($event)">
    <button type="submit">Save</button>
    <button type="button" (click)="cancelEdit()" class="cancel">Cancel</button>
  </form>

</div>
