<h2>Tours:</h2>
<div *ngFor="let tour of tours" class="tour-box">
  <div class="tour-info">
    <span class="tour-photo">
      <img [src]="getPhotoUrl(tour.photo)" alt="Tour Photo" [style.max-width.px]="300" [style.max-height.px]="126">
    </span>
    <br>
    <p>Name: {{ tour.name }}</p>
    <p>Location: {{ tour.location }}</p>
    <p>Continent: {{ tour.continent }}</p>
    <p>Start Date: {{ tour.start_date }}</p>
    <p>End Date: {{ tour.end_date }}</p>
    <p>People: {{ tour.people }}</p>
    <p>Price: {{ tour.price }} €</p>
    <button (click)="deleteTour(tour.id)">Delete Tour</button>
    <br>
  </div>