<div class="wrapper">
        <header>
                <img src="assets/beach-1845945_1920.jpg" class="background">
                <img src="assets/rocks-6063906_1920.png" class="foreground">
                <h1 class="title">Travel with us!</h1>
        </header>
        <section>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates illum, explicabo tenetur commodi
                deleniti nam cupiditate laborum, doloremque sunt ipsam cumque velit? Dicta quisquam eaque deleniti atque
                modi, nostrum non!
        </section>
        <main>
                <img src="assets/mountains-4817766_1920.jpg" class="background2">
                <h1 class="title2">You won't regret it!</h1>
        </main>
</div>
<footer>
        <mat-icon> email</mat-icon>
</footer>